
body {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    height: 650px;
}

h1 {
    display: inline;
}

footer {
    margin-top: 25px;
}

.weather-app {
    color: darkolivegreen;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    
    
}
.main-content-block {
    border: 1px solid green;
    height: 500px;
    margin-top: 50px;
    border-radius: 15px;

}
.current-date-block {
    margin-top: 25px;
}
.current-time {
    font-weight: 200;
    font-size: 35px;

}
.current-date {
    font-weight: 200;
    font-size: 25px;

}
.current-day-of-week {
    font-weight: 200;
    font-size: 25px;

}
.current-weather-block {
    margin-top: 220px;
}
.current-temperature {
    font-style: normal;
    font-weight: 500;
    font-size: 85px;
    color: #000000;
}
.unit {
    font-weight: 200;
    font-size: 35px;

}
.current-city {
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    color: #000000;
    margin-left: 25px;
}
.sidebar {
    background: rgb(221, 219, 215, 0.9);
    padding: 15px;
    border-radius: 15px;
    height: 450px;
    margin-top: 25px;
    margin-bottom: 25px;
    min-width: 300px;
}
.forecast {
    margin-top: 25px;
}
.forecast-item {

}
.precipitation {
    margin-top: 25px;
}