
h1 {
    display: inline;
}



.weather-app {
    color: darkolivegreen;
    max-width: 1000px;
    margin: 0 auto;
  
    
}
.main-content-block {
    border: 1px solid green;
    height: 500px;
    margin-top: 50px;

}

.sidebar {
    background: rgb(221, 219, 215, 0.9);
    padding: 15px;
    border-radius: 15px;
    height: 450px;
    margin-top: 25px;
    margin-bottom: 25px;
    min-width: 300px;
}
.forecast {
    margin-top: 30px;
}
.precipitation {
    margin-top: 30px;
}