
body {
    background: linear-gradient(to top, #EFD4D3 0%, #ace0f9 100%) fixed;
    
}

h1 {
    display: inline;
}

footer {
    margin-top: 25px;
    color: #b4b4b4;
}


/* MAIN BLOCK */

.weather-app {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.main-content-block {
    height: 500px;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.current-date-block {
    margin-top: 25px;
}
.current-time {
    font-weight: 200;
    font-size: 35px;
}
.current-date {
    font-weight: 200;
    font-size: 25px;
}
.current-day-of-week {
    font-weight: 200;
    font-size: 25px;
}
.current-weather-block {
    margin-top: 220px;
    
}
.main-icon {
    width: 200px;
    margin-left: -50px;
    

}

.current-temperature {
    font-style: normal;
    font-weight: 500;
    font-size: 85px;
    margin-left: -90px;
}
.unit { 
    font-weight: 200;
    font-size: 35px;
    margin-left: 5px;

}
.farenheit-unit, 
.celsius-unit {
    color: #fff;
    text-decoration: none;
    
    
}
.farenheit-unit:hover,
.celsius-unit:hover {
    color: #ace0f9;
    transition: all 0.5s 0s ease-in-out;
}
.separator {
    font-size: 35px;
}
.current-city {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    margin-left: 10px;
}

/* SIDEBAR */

.sidebar {
    background: #CFD5DB;
    padding: 15px;
    border-radius: 15px;
    height: 450px;
    margin-top: 25px;
    margin-bottom: 25px;
    min-width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.input-form:focus {
    border-color: #ace0f9;
    box-shadow: 0 0 0 0.2rem #ace0f9;
}
.search-button, .find-me-button {
   
    padding: 5px;
    font-size: 15px;
    color: white;
    border-color: #ace0f9;
    background-color: #ace0f9;
    border-width: 2px;
}
.search-button:hover, 
.find-me-button:hover {
    background-color: #ffb5b5;
    border-color: #ffcbcb;
    transition: all 0.5s 0s ease-in-out;
}
.search-button:focus, 
.find-me-button:focus {
    background-color: #ffb5b5;
    border-color: #ffcbcb;
}
.forecast {
    margin-top: 20px;
    margin-left: 25px;
}
.forecast-list {
    padding: 0;
}
.forecast-item, .precipitation-item, .forecast-icon {
    list-style-type: none;
    padding: 0;
}
.forecast-day-of-week, 
.forecast-temperature, 
.forecast-humidity-value, 
.forecast-wind-value, 
.forecast-humidity, 
.forecast-wind {
    margin-top: 15px;
}
.forecast-temperature:hover, 
.forecast-humidity-value:hover, 
.forecast-wind-value:hover {
    transform: scale(1.2);
    transition: all 0.5s 0s ease-in-out;
  

}
.mini-icon {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%) fixed;
    border-radius: 15px;
    margin-top: 5px;
   
}
.mini-icon:hover {
    transition: all 0.5s 0s ease-in-out;
    transform: scale(1.2);
    border-radius: 25px;
}
.precipitation {
    margin-top: 10px;
    
}

.subscription {
    color: #E4ACAB;
}
.subscription:hover {
    color: #D29798;
}